{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block stylesheets %}
 {{ parent() }}
{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        {% if blog.image %}
            {% if blog.image|lower starts with 'http' %}
            <img src="{{ blog.image }}" alt="{{ blog.title }} image not found" class="large" />
            {% else %}
            <img src="{{ asset(['bundles/bloggerblog/images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
            {% endif %}
        {% endif %}
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
    <nav>
        <ul class="pager">
            {% if previousBlog %}
                <li class="previous">
                    <a href="{{ path('BloggerBlogBundle_blog_show', {'id' : previousBlog.id, 'slug': previousBlog.slug}) }}">Previous</a>
                </li>
            {% endif %}
            {% if nextBlog %}
                <li class="next">
                    <a href="{{ path('BloggerBlogBundle_blog_show', {'id' : nextBlog.id, 'slug': nextBlog.slug}) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="container  col-md-12">

        <div class="container  col-md-8">
        <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </div>
        <div class="container  col-md-8">
            <button class="btn btn-primary" role="button" onclick="toggler('comment-form-container','addReply');" id="addReply">
                Add reply
            </button>
        </div>
        <div class="container  col-md-8" id="comment-form-container" style="display: none;">
            <h3>Add Comment</h3>
            {{ render(controller( 'BloggerBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        //TODO: refactor code to separate file
        //function for toggling hiden/visible div and button
        function toggler(divId,buttonId) {
            $("#" + divId).toggle();
            $("#" + buttonId).toggle();
        }

        function postForm($form, successCallback, errorCallback ){

            //  Get all form values
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            // Throw the form values to the server!
            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(data) {
                    successCallback( data );
                },
                error       : function(xhr, ajaxOptions, thrownError) {
                    errorCallback(xhr, ajaxOptions, thrownError);
                }
            });
        }

        $(document).ready(function(){
            $('form').submit( function( e ){
                e.preventDefault();
                postForm( $(this),
                    function( response ){
                        //fields: response {name, comment,id,created}
                        $('#comment-list').
                                append(
                                '<strong class="pull-left primary-font">' + response.author + '</strong>' +
                                '<small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>Right now</small></br>' +
                                '<li class="ui-state-default" id="comment-'+response.id +'">'+ response.comment + '</li>' +
                                '</br>'
                        );
                        $('form').trigger('reset');
                    },
                    function (xhr, ajaxOptions, thrownError) {
                        //TODO:do something on error
                    }
                );
            });
        });
    </script>
{% endblock %}