{% extends "BloggerAdminBundle::base.html.twig" %}


{% block jumbotron %}
    <h1>List of all categories</h1>
{% endblock %}

{% block body -%}
    <h1>Category list</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a>
                </td>
                <td>
                    <a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">
                Create a new category
            </a>
        </li>
    </ul>
{% endblock %}
