{# src/Blogger/BlogBundle/Resources/views/Page/sidebar.html.twig #}

<div class="row">
    <h3>Tags</h3>
    <p>
        {% for tag, weight in tags %}
            {%  if weight % 3 == 0 %}
                <a href="#" class="label label-primary">{{ tag }}</a>
            {% elseif weight % 3 == 1 %}
                <a href="#" class="label label-warning">{{ tag }}</a>
            {% else %}
                <a href="#" class="label label-success">{{ tag }}</a>
            {% endif %}
        {% else %}
            <p>There are no tags</p>
        {% endfor %}
    </p>
</div>

<div class="row">
    <h3>Latest Comments</h3>

    <div class="col-lg-12 col-sm-12 text-left">
        <hr data-brackets-id="12673">
        <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
        {% for comment in latestComments %}
            <div class="row">
            <small class="pull-right text-muted">
                <span class="glyphicon glyphicon-time"></span>{{ comment.created|created_ago }}</small>
            </br>
            </div>

            <div class="row">
                <strong class="pull-left primary-font">{{ comment.author }}</strong>
                <br ><p> commented on:
                <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': comment.blog.id,'slug': comment.blog.slug }) }}">
                    {{ comment.blog.title }}
                </a></p>
            </div>

            <li class="ui-state-default" id="comment-{{ comment.id }}">{{ comment.comment }}</li>
            </br>

        {% else %}
                <strong class="pull-left primary-font">There are no comments for this post. Be the first to comment...</strong>
        {% endfor %}
        </ul>
    </div>

</div>