{% extends "BloggerAdminBundle::base.html.twig" %}


{% block jumbotron %}
    <h1>List of all blogs</h1>
{% endblock %}

{% block body -%}
    <h1>User list</h1>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Show</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>
                    <a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a>
                </td>
                <td>
                    <a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a>
                </td>
                <td>
                    <a href="{{ path('blog_show', { 'id': blog.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('blog_edit', { 'id': blog.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('blog_new') }}">
                Create a new blog entry
            </a>
        </li>
    </ul>
    {% endblock %}