{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'BloggerAdminBundle::base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        {% if blog.image %}
            {{ blog.image|vlabs_media('image') }}
        {% endif %}
        <div>
            <p>{{ blog.blog |raw }}</p>
        </div>
    </article>

    <nav>
        <ul class="pager">
            {% if previousBlog %}
                <li class="previous">
                    <a href="{{ path('blog_show', {'id' : previousBlog.id, 'slug': previousBlog.slug}) }}">Previous</a>
                </li>
            {% endif %}
            {% if nextBlog %}
                <li class="next">
                    <a href="{{ path('blog_show', {'id' : nextBlog.id, 'slug': nextBlog.slug}) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <h3>Categories</h3>
            <ul>
                {% for category in blog.categories %}
                    <li>{{  category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('blog_edit', { 'id': blog.id }) }}" class="btn btn-primary" role="button">Edit post</a>

    <div class="col-md-12">

        <div class="col-md-8">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary" role="button" onclick="toggler('comment-form-container','addReply');" id="addReply">
                Add reply
            </button>
        </div>
        <div class="col-md-8" id="comment-form-container" style="display: none;">
            <h3>Add Comment</h3>
            {{ render(controller( 'BloggerBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloggerblog/js/comments.js') }}" ></script>
{% endblock %}