{% extends "BloggerAdminBundle::base.html.twig" %}

{% block jumbotron %}
    <h1>Info about {{ entity.username }}</h1>
{% endblock %}

{% block body %}

    <div class="col-sm-6">

        <ul class="list-group">

            <li class="list-group-item text-right">
                <span class="pull-left">
                    <strong class="">Username</strong>
                </span> {{ entity.username }}
            </li>

            <li class="list-group-item text-right">
                <span class="pull-left">
                    <strong class="">E-mail</strong>
                </span> {{ entity.email }}
            </li>

            <li class="list-group-item text-left">
                <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>

            <li class="list-group-item text-left">
                {{ form(delete_form) }}
            </li>
        </ul>

        <a href="{{ path('user') }}">
            Back to the list
        </a>

    </div>
{% endblock %}
